.waiting_list_page,
  .waiting-page {
    min-height: 60rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 90%;
    margin: auto;
    max-width: 1000px;
  }
  
  .card {
    background-color: #65f1a437;
    border-radius: 1rem;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    max-width: 30rem;
  }
  .card:nth-child(2) {
    background-color: #f5f5f5;
    transform: translateY(50%);
  }
  .card:nth-child(3) {
    background-color: #1489ff2a;
    transform: translate(20%, 20%);
  }
  
  .card img {
    width: 100%;
    max-width: 18rem;
    height: auto;
    border-radius: 0.5rem;
  }
  
  .card-content {
    text-align: center;
    margin-top: 1.5rem;
  }
  
  .card-content h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.8rem;
  }
  
  .card-content p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .card-container {
      gap: 2rem;
      display: block;
      width: 90%;
      padding-bottom: 2rem;
    }
  
    .card {
      padding: 1.5rem;
      transform: none !important;
      margin-block: 1rem;
    }
  
    .card img {
      max-width: 14rem;
    }
  
    .card-content h2 {
      font-size: 1.6rem;
    }
  
  }