
.nav_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-block: 1rem;
    z-index: 100;
}
.logo_n {
    font-weight: 600;
    color: #1F6BF7;
    cursor: pointer;
}
.center_nav_n {
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 8px;
    height: 0px;
    overflow: hidden;
    border-color: transparent;
    transition: all .3s ease;
    background-color: #fff;
    z-index: 1200;

}
/* .center_nav_n ul {
    visibility: hidden;
} */
.center_nav_n li {
    transition: all .3s ease-in-out;
}
.center_nav_n li a{
    padding: 0.5rem 1rem;
    margin-bottom: 0.2rem;
    width: 100%;
    height: 100%;
    display: block;
}
.center_nav_n li:hover {
    background-color: var(--hover-color);
}
.mobile_nav_n {
    display: flex;
    align-items: center;
}
.contact_url_n {
    padding: 0.4rem 1.5rem;
    border-radius: 40px;
    background-color: #1F6BF7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger_n {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger_n * {
    font-size: 1.8rem;
}
.change_lang_handler_n .icon,
.contact_url_n .icon {
    margin-right: 0.8rem;
    margin-top: 0.3rem;

}
.change_lang_handler_n .icon *,
.contact_url_n .icon * {
    font-size: 1.1rem;
}
.center_nav_n.show_nav {
    height: 14rem;
    border: 1.5px solid #1F6BF7;
    transform: translateY(6px);
    visibility: visible;
    z-index: 1200 !important;
    background-color: #fff !important;
}


.change_lang_handler_n {
    padding: 0.7rem 1.5rem;
    border-radius: 40px;
    background-color: #1f6bf762;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    margin-left: 1rem;
    position: relative;
}
.change_lang_dropdown_n {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150%;
    height: 0px;
    background-color: #fff;
    border-radius: 8px;
    transition: all .3s ease;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
}

.change_lang_dropdown_n li {
    color: var(--main-color);
    padding: 0.4rem 1rem;
    transition: all .3s ease-in-out;
}
.change_lang_dropdown_n li:hover {
    background-color: var(--hover-color);
}
.change_lang_dropdown_n.show_change_lang_dropdown_n {
    height: 9rem;
    border: 1px solid #1F6BF7;
    transform: translateY(6px);
    visibility: visible;
    opacity: 1;
}




/* ================= NAV ANIMATED 2 ================= */

.animated_nav_n {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: auto;
    justify-content: center;
    z-index: 0;
  }

.chip {
    color: #cbd5e0;
    font-size: 0.825rem;
    padding: 0.5rem 1.5rem;
    transition: color 150ms;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5b646e;
    position: relative;
}

.chip:hover {
    background-color: var(--hover-color);
    border-radius: 40px;
    color: #000;
}

.selected {
    color: #fff;
}
  
.chip .nav_animated_text {
    position: relative;
    z-index: 2;
}

.animated_nav_select {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, #061A40, #093b78);
    z-index: 1;
    border-radius: 40px;
}


@media(max-width: 70rem){
    .animated_nav_n {
        display: none;
    }
    .change_lang_handler_n {
        display: none;
    }
}

@media(min-width: 70rem){
    .burger_n {
        display: none;
    }
    .center_nav_n {
        position: static;
        height: auto !important;
        border: none !important;
    }
    .center_nav_n ul {
        display: flex;
        justify-content: center;
        display: none;
    }
    .mobile_nav_n {
        min-width: 250px;
    }
}


/* ======== SHADOWS ============  */
.shadow_n_nav_mob,
.shadow_n_lang {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
}
.shadow_n_nav_mob.show,
.shadow_n_lang.show {
    position: fixed;
}